body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.342);
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 30%;
}
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

h1 {
    display: flex;
    justify-content: start;
    font-size: 50px;
    font-weight: 900;
    margin-left: 10px;
    padding: 10px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.month {
    background: rgba(236, 176, 176, 0.267);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #aac7a6;
    color: blue;
    text-align: center;
}

th {
    background-color: #ff7043;
    color: white;
}

td {
    background-color: white;
}

td:hover {
    background-color: #e79820;
    cursor: pointer;
}

.creator {
    font-size: 20px;
    font-weight: 900;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:776px) {
    body {
        margin: 5px;
    }

    h1 {
        font-size: 30px;
        font-weight: 800;
        color: blue;
    }
    

}